<!DOCTYPE html>
<html>
  <head>
    <title>About | PDF Converter</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
   <p>PDF Converter</p>
      This is an application to convert pdf slides into blogger images.
    </p>
  </body>
</html>