<footer class="footer">
  <small style="float:left;padding-top:8px;">
    <p>PDF Converter</p>
  </small>
  <nav>
    <ul>
      <ul style="float:right;position:relative;"><%= link_to "About",   about_path %></ul>
      <ul style="float:right;margin-left:10%;"><a href="https://github.com/AUEzzat/blogger-pdf-converter">Source</a></ul>
    </ul>
  </nav>
</footer>